#banner {
    background-image: url('./../assets/images/bannerImage.jpg');
    background-position: center;
    background-size: cover;
}

#header-wrapper {
    margin: auto;
    width: fit-content;
}